# Server Configuration
PORT=3000
LOG_LEVEL=info
NODE_ENV=production

# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=telemetry

# Telemetry Processing Configuration
BATCH_SIZE=500
CRON_SCHEDULE=*/5 * * * *
LEADERBOARD_REFRESH_SCHEDULE=0 1 * * *
MV_REFRESH_SCHEDULE=*/15 * * * *